*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight:normal;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight:500;
}
a,u{
    text-decoration:none;
}
ul,li,ol{
    list-style: none;
}
img{
    vertical-align: top;
}

.header-first{
    width: 100%;
    height: 36px;
    color: #333;
    background-color: #f4f4f4;
    font-size: 18px;
}
.header-first-cont{
    max-width: 1180px;
    min-width: 880px;
    margin: 0 auto;
    height: 36px;
    position: relative;
}
.slogan{
    font-size: 12px;
    color: #666;
    display: inline-block;
    margin: 10px 0 0 14px;
}
.language{
    position: absolute;
    top: 0;
    left: 103px;
    font-size: 12px;
}
.language span{
    color: #666;
    position: relative;
    line-height: 35px;
    display: inline-block;
    padding: 0px 15px 0px 13px;
}
.icon-xiabiao{
    width: 8px;
    height: 5px;
    display: inline-block;
    background: url(../imgs/spirit20190918.png) no-repeat -45px -58px;
}
.language span em {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../imgs/spirit20190918.png) no-repeat -8px -8px;
    vertical-align: middle;
}
.header-first-nav{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    color: #333;
    line-height: 36px;
}
.header-first-nav li{
    float: left;
    font-size: 12px;
}
.ctrip-hover{
    width: 112px;
    height: 142px;
    padding: 10px;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    border: 1px solid #666;
    display: none;
}
.header-first-nav li:hover .ctrip-hover{
    display: block;
}
.header-first-nav li span{
    color: #333;
    display: inline-block;
    padding: 0px 15px 0 13px;
    margin: 0 auto;
    text-align: center;
}
.header-first-nav li:nth-child(1) span{
    color: blue;
}


.header-first-nav li:nth-child(3) i{
    width: 14px;
    height: 12px;
    display: inline-block;
    background: url(../imgs/spirit20190918.png) no-repeat -8px -64px;
}
.header-first-nav li:nth-child(7) span{
    width: 96px;
    height: 22px;
    border-radius: 11px;
    background: rgba(37, 119, 227, .5);
    border: none;
    color: blue;
    line-height: 22px;
}
.header-first-nav li:nth-child(7) b{
    width: 8px;
    height: 5px;
    display: inline-block;
    background: url(../imgs/spirit20190918.png) no-repeat -45px -83px;
}
.header-first-nav li:nth-child(7) i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../imgs/spirit20190918.png) no-repeat -97px -39px;
    vertical-align: middle;
    
    
}
.header-first-nav li:nth-child(8) i{
    display: inline-block;
    width: 10px;
    height: 16px;
    background: url(../imgs/spirit20190918.png) no-repeat -100px -68px;
    vertical-align: middle;


}
.header-first-nav li:nth-child(9) i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../imgs/spirit20190918.png) no-repeat -97px -100px;
    vertical-align: middle;
}

/* secont */
.header-second{
    width: 100%;
    height: 80px;
    background-color: white;
    
}
.header-second-cont{
    max-width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    /* background-color: teal; */
    /* overflow: hidden; */
}
.header-second-cont div:nth-child(1){
    width: 203px;
    height: 34px;
    margin: 23px 0;
}
.header-second-cont .logo{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../imgs/c_logo2020.png) no-repeat ;
    background-size: 100% 100%;
}
.header-second-cont div:nth-child(2){
    position: absolute;
    top: 25px;
    left: 253px;
    width: 28%;
}
.header-second-cont div:nth-child(2)>input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    font-size: 12px;
    padding: 0px 45px 0px 5px;
    border:1px solid #a4bcff ;
    outline: 0 none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
}
.header-second-cont div:nth-child(2)>button{
    position: absolute;
    top: 0px;
    right: -52px;
    width: 43px;
    height: 30px;
    cursor: pointer;
    background: url(../imgs/un_header_footer20160610.png) no-repeat -52px -603px;
    background-color:#a4bcff;
    border: 1px solid #a4bcff;
    border-left: none;
    outline: 0 none;
    border-radius: 5px;
}
.header-second-cont div:nth-child(2)>button:hover{
    background: url(../imgs/un_header_footer20160610.png) no-repeat -53px -628px;
    background-color:#299cff;
    border: 1px solid #299cff;
    border-radius: 5px;
}

.search-list{
    position: absolute;
    display: none;
    top: 30px;
    left: 2px;
    width: 380px;
    height: 370px;
    overflow: hidden;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 3px;
    font-size: 12px;
    z-index: 999;
}
.search-list a{
    display: block;
    padding: 5px 20px 5px 34px;
    text-indent: -25px;
    font-size: 12px;
    color: #333;
    word-break: break-all;
    margin: 0;
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search-list a:hover{
    color:#fff;
    background-color: blue;
}



.header-second-cont div:nth-child(3){
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 20px 20px 16px;
    border: 1px solid #fff;
    text-align: right;
    color: #333;
    z-index: 3;
    
}
.header-second-cont div:nth-child(3):hover em{
    background: url(../imgs/spirit20190918.png) no-repeat -45px -71px;
}
.header-second-cont div:nth-child(3)>em{
    position: absolute;
    top: 25px;
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../imgs/spirit20190918.png) no-repeat -45px -58px;
}
.displaynone{
    display: none;
}
.header-second-cont div:nth-child(3):hover .displaynone{
    display: block !important;
}
.header-second-cont div:nth-child(3):hover{
    background-color: #FFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, .15);
}


/* three */
.header-three{
    width: 100%;
    height: 40px;
    background-color: #2577e3;
    position: relative;
}
.header-three-nav{
    position: absolute;
    max-width: 1180px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background-color: yellow;
}
.header-three-nav ul{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    min-width: 980px;
    width: 1180px;
    font-size: 15px;
    background-color: #2577e3;
    color: #fff;

}
.icon1-xiabiao{
    /* position: absolute;  */
    top: 19px;
    margin-left: -2px;
    margin-bottom: 2px;
    width: 8px;
    height: 5px;
    display: inline-block;
    background: url(../imgs/spirit20190918.png) no-repeat -45px -58px;
}
.shu::after{
    content: "";
    float: left;
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-top: 13px;
    background-color: #1d67dd;
    padding: 0 0 0 0 !important;
    clear: none;
}
.header-three-nav ul>li:nth-child(odd){
    float: left;
    cursor: pointer;
    padding: 0 11px;
}

/* mod-banner */

#mod-banner{
    width: 100%;
    height: 340px;
    position: relative;
}
.mod-banner-cont{
    width: 100%;
    height: 340px;
    margin: 0 auto;
}
.swiper-pagination{
    bottom: 0px;
    right: 350px;
}
#mod-banner .swiper-pagination-bullet{
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 5px 3px;
    border: 2px solid rgba(255, 255, 255, 1);
}
#mod-banner .swiper-pagination-bullet-active{
    width: 20px;
    height: 10px;
    border-radius: 10px;
    background: #FFF !important;
}

/* container  */
#container{
    position: relative;
    background-color: #f6f6f6;
    padding-top: 28px;
}
.mod-template{
    position: relative;
    max-width: 1180px;
    margin: 0px auto 28px;
}
.public-ul{
    position: relative;
    top: 0;
    left: 0;
    max-width: 1180px;
    height: 36px;
    border-bottom: 2px solid #3983e5;
}
.public-ul li{
    position: relative;
    float: left;
    font-size: 16px;
    margin-right: 30px;
    line-height: 36px;
    color: #333;
    text-align: center;
    
}
.sj-active::before{
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 11px;
    background: url(../imgs/un_bg_line_141218.png) no-repeat -70px -80px;
}
.mod-template-hd{
    height: 38px;
    margin-bottom: 5px;
}


.mod-template-bd{
    height: 390px;
    background-color: lavender;
}


.mod-template-bd1{
    height: 390px;
    background-color: lavender;
}


.mod-template-bd2{
    height: 398px;
    background-color: lavender;
}


.mod-template-bd3{
    height: 261px;
    background-color: lavender;
}


/* 旅行服务 */
.mod-template-bd4{
    height: 155px;
    margin-left: -10px;
}
.same-box-middle{
    display: inline-block;
    width: 330px;
    height: 70px;
    padding: 14px 15px 17px 40px;
}
.same-box-middle-hd{
    border-bottom: 1px solid #999;
}
.same-box-middle-hd:hover {
    background-color: #e2eeff;
}
.same-box :hover{
    background-color: #e2eeff;
}


.same-box-middle-bd li{
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
    text-align: center;
    width: 95px;

}
.same-box-middle-bd a{
    display: inline-block;
    width: 100%;
    color: black;
    border-right: 1px dashed #999;
}

  /* 企业商旅 */
.mod-template-bd5{
    height: 129px;
    margin-left: -10px;
}
.same-box{
    width: 384px;
    float: left;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.same-box-last{
    display: inline-block;
    width: 343px;
    height: 80px;
    padding: 19px 11px 18px 30px;
}
.same-box-last-icon1{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: pink;

}
.same-box-last-icon1 i{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 14px;
    width: 50px;
    height: 45px;
    background: url(../imgs/un_index_supply.png) no-repeat 0px -140px;
}
.same-box-last-text{
    display: inline-block;
    position: absolute;
}
.same-box-last-text>p{
    width: 254px;
    height: 24px;
    font: 16px/1.5 "Microsoft yahei";
    margin-bottom: 5px;
    margin-left: 10px;
    color: #333333;
}
.same-box-last-text>span{
    display: inline-block;
    width: 249px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #999;
}


.same-box-last-icon2{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: orange;

}
.same-box-last-icon2 i{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 14px;
    width: 50px;
    height: 45px;
    background: url(../imgs/un_index_supply.png) no-repeat 0px -187px;
}
.same-box-last-icon3{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: blue;

}
.same-box-last-icon3 i{
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 50px;
    height: 45px;
    background: url(../imgs/un_index_supply.png) no-repeat 0px -234px;
}

/* container end  */

/* 左侧电梯导航 */
.list-floor-show{
    z-index: 2;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -635px;
    height: 360px;
    width: 36px;
}
.list-item{
    background: url(../imgs/un_icon_leftnav.png) no-repeat;
    background-position: center -80px;
}
.list-item:hover{
    background: #3882e5;
}
.opera{
    display: none;
}
.list-item:hover .opera{
    display: block;
    color: #fff;
}
.list-floor-show li{
    height: 40px;
    width: 36px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: royalblue;
}

/* 左侧电梯导航 end */


#footer{
    width: 1180px;
    margin: 28px auto 30px;
    *zoom: 1;
}
#footer::before,#footer::after{
    content: "";
    display: table;
}
#footer::after{
    clear: both;
}

.footer-first{
    height: 150px;
    width: 245px;
    float: left;
    border-right: 1px solid #dedede;
    /* background-color: red; */
}
.footer-title{
    font: 16px/20px 'Microsoft yahei';
    margin-bottom: 10px;
    margin-top: 3px;
    color: #666;
}
.footer-icon-space{
    float: left;
    width: 36px;
    height: 40px;
}
.footer-icon-text{
    margin-left: 10px;
    float: left;
    color: #666;
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
}
.footer-icon-text-title{
    font:bold 16px "Microsoft Yahei";
    color: #2577e3;
}
.footer-icon-server{
    display: inline-block;
    width: 36px;
    height: 40px;
    background: url(../imgs/pic_partner.png) no-repeat -41px -198px;
}



.footer-second{
    height: 150px;
    width: 210px;
    padding: 0 10px 0 40px;
    float: left;
    border-right: 1px solid #dedede;
}
.ft-link-item{
    float: left;
    display: inline-block;
    width: 105px;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #666;
}
.ft-link-item>a{
    color: #666;
}

.footer-three{
    height: 150px;
    width: 210px;
    padding: 0 10px 0 40px;
    float: left;
    /* background-color: purple; */
    border-right: 1px solid #dedede;
}
.footer-four{
    height: 150px;
    width: 210px;
    padding: 0 0px 0 40px;
    float: left;
    /* background-color: green; */
    border-right: 1px solid #dedede;
}
.footer-five{
    height: 150px;
    width: 130px;
    padding: 0 0 0 30px;
    float: left;
    /* background-color: orange; */
}
.ft-link-pic{
    display: inline-block;
    width: 114px;
    padding: 8px;
    border: 1px solid #efefef;
}
.ft-link-pic>span{
    display: inline-block;
    width: 114pxs;
    height: 114px;
}




/* =========== */

#copyright{
    width: 1180px;
    margin: 0 auto 28px;
}
.copyright-first{
    height: 18px;
    line-height: 18px;
    text-align: center;
}

.copyright-second{
    margin-top: 8px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.copyright-second-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../imgs/phone_list20190617.png) no-repeat 0px -236px;
    vertical-align: middle;
}
.copyright-font{
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #999;
}

.copyright-three{
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-top: 8px;
    /* background-color: lawngreen; */
}
.copyright-four{
    height: 34px;
    margin-top: 10px;
    text-align: center; 
    margin: 0 0 0 80px;
    /* background-color: lightsalmon; */
}
.honour-wrap{
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #999;
    display: inline-block;
    float: left;
    background: url(../imgs/phone_list20190617.png) no-repeat;
    line-height: 32px;
    padding: 0 1px;
    margin: 0 4px;
    border: 1px solid #666;
}
.copyright-four a:nth-child(4)>span{
    display: inline-block;
    font-size: 12px;
    width: 52px;
    height: 28px;
    line-height: 1.2;
    margin-left: 32px;
    text-align: center;
}